<!-- Static sidebar for desktop -->
<div class="h-screen sticky top-0">
    <div class="flex flex-col justify-between overflow-y-auto shadow-cardBoxShadow bg-white py-10 h-full">
      <div class="flex flex-shrink-0 items-center px-4 cursor-pointer" [routerLink]="['/dashboard/home']">
        <img class="h-auto w-28" ngSrc="assets/logos/dashboard-logo.png" alt="Your Company" width="70" height="40">
      </div>
      <div class="mt-10 h-full">
        <nav class="flex-1 space-y-1 px-2 pb-4">
          <a routerLink="/dashboard/home" routerLinkActive="router-link-active"  class="dashboard-sidebar-items-hover group rounded-md py-2 px-2 flex items-center text-sm font-medium">
            <svg class="text-gray-500 mr-3 flex-shrink-0 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
            </svg>
            Home
          </a>

          <a routerLink="/dashboard/orders" routerLinkActive="router-link-active"  class="dashboard-sidebar-items-hover group rounded-md py-2 px-2 flex items-center text-sm font-medium">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-gray-500 mr-3 flex-shrink-0 h-6 w-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
            </svg>
            
            Orders
          </a>
        </nav>
      </div>
    </div>
  </div>