<div
    class="container flex flex-col  font-sans w-full bg-white shadow-cardBoxShadow p-5 rounded-2xl">
    <h1 class="my-5 font-serif font-medium text-3xl text-primary">Order Detail</h1>
    <div class="grid grid-cols-2 gap-10">
        <!-- Items Details  -->
        <div>
            <p class="text-base my-2">#Id:{{order.id}}</p>
            <h1 class="mb-2 border-b border-b-primary-light text-2xl font-serif pb-3">Items</h1>
            <table class="w-full table-auto border-collapse">
                <thead>
                  <tr class="bg-gray-200">
                    <th class="pe-6 py-2 text-left">Image</th>
                    <th class="pe-6 py-2 text-left">Name</th>
                    <th class="pe-6 py-2 text-left">Quantity</th>
                    <!-- <th class="pe-6 py-2 text-left">Total Price</th> -->
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let item of order.items">
                    <tr>
                      <td class="pe-6 py-2">
                        <img [src]="item.food?.imgUrl" class="h-6 w-6 rounded-full">
                      </td>
                      <td class="pe-6 py-2">
                        {{item.food?.name}}
                      </td>
                      <td class="pe-6 py-2">
                        {{item.quantity}}
                      </td>
                      <!-- <td class="pe-6 py-2">
                        {{item.food?.totalPrice}}
                      </td> -->
                    </tr>
                  </ng-container>
                </tbody>
              </table>
              
        </div>

        <!-- Order Summary  -->
         <div class="px-5 border-l border-l-primary-light">
            <h2 class="text-xl font-bold mb-4">Order Summary</h2>
            <div class="mb-6">
                <!-- <p class="text-gray-700 mb-2">Quantity: {{order?.quantity}}</p> -->
              <p class="text-gray-700 mb-2">Total Price: {{order.totalPrice}}</p>
            </div>
         </div>
       
    </div>

</div>