<div class="container flex flex-col items-center justify-center pt-5 font-sans">
    <h1 class="my-5 font-serif font-medium text-3xl text-primary">Register</h1>
    <form [formGroup]="signupForm" (ngSubmit)="register()">
        <div class="flex flex-col gap-5 w-[30vw]">

            <!-- Name  -->
            <input-container labelFor="name" label="Name *">
                <input ngProjectAs="input-content" type="text" id="name"
                    class="block px-4 py-4 w-full text-base text-grey bg-transparent rounded-lg border-1 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" " formControlName="name" />

                <p ngProjectAs="validation-content" *ngIf="getFormControl('name')?.errors?.['required'] && getFormControl('name')?.touched"
                    class="text-primary text-sm m-2">Name is required</p>

            </input-container>

            <!-- Email  -->
            <input-container labelFor="email" label="Email* ">
                <input ngProjectAs="input-content" type="text" id="email"
                    class="block px-4 py-4 w-full text-base text-grey bg-transparent rounded-lg border-1 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" " formControlName="email" />

                <div *ngIf="getFormControl('email')?.errors" ngProjectAs="validation-content">
                    <p *ngIf="getFormControl('email')?.errors?.['required'] && getFormControl('email')?.touched"
                        class="text-primary text-sm m-2">Email is required</p>
                    <p *ngIf="getFormControl('email')?.errors?.['email'] && getFormControl('email')?.touched"
                        class="text-primary text-sm m-2">Email is not correct</p>
                </div>
            </input-container>

            <!-- Password  -->
            <input-container labelFor="password" label="Password* ">
                <input ngProjectAs="input-content" type="password" id="password"
                    class="block px-4 py-4 w-full text-base text-grey bg-transparent rounded-lg border-1 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" " formControlName="password" />

                <p ngProjectAs="validation-content"
                    *ngIf="getFormControl('password')?.errors?.['required'] && getFormControl('password')?.touched"
                    class="text-primary text-sm m-2">Password is required</p>
            </input-container>

            <!--Confirm Password  -->
            <input-container labelFor="confirmPassword" label="Confirm Password * ">
                <input ngProjectAs="input-content" type="password" id="confirmPassword"
                    class="block px-4 py-4 w-full text-base text-grey bg-transparent rounded-lg border-1 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" " formControlName="confirmPassword" />

                <p ngProjectAs="validation-content"
                    *ngIf="getFormControl('confirmPassword')?.errors?.['required'] && getFormControl('confirmPassword')?.touched"
                    class="text-primary text-sm m-2">Confirm Password is required</p>
            </input-container>

            <!-- Address  -->
            <input-container labelFor="address" label="Address * ">
                <input ngProjectAs="input-content" type="text" id="address"
                    class="block px-4 py-4 w-full text-base text-grey bg-transparent rounded-lg border-1 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" " formControlName="address" />

                <p ngProjectAs="validation-content" *ngIf="getFormControl('address')?.errors?.['required'] && getFormControl('address')?.touched"
                    class="text-primary text-sm m-2">Address is required</p>

            </input-container>

            <!-- Register Button  -->
            <button type="submit" class="w-full bg-primary py-4 rounded-full text-lg text-white">Register</button>

            <p class="text-center text-grey">Already user ? <a routerLink="/login" 
                    class="underline text-grey">login here</a></p>
        </div>

    </form>
</div>